*{
    margin: 0;
    border: 0;
    padding: 0;
    
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #0000002f;
    padding: 15px 20px;
    margin-bottom: 60px;


}
.l1{
    display: flex;
    align-items: center;
    gap:10px;
   justify-content: space-around;
   
}

.l2{  
    display: flex;
    align-items: center;
    gap: 10px;
    
  }

  img{
    border-radius: 50%;
  }

  svg{
    width: 25px; height: 25px;
  }
  .c{
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 14px;
    padding:0px 30px ;
  }
  
  nav{
    display: flex;
    height: 100%;
}

 a{
  text-decoration: none;

 }
 
 .btn:hover{
    background-color: rgb(171, 171, 171);
 }
 
 
 