body{
    background-image: url(https://www.lavanguardia.com/files/article_gallery_microformat/uploads/2021/09/02/6130aa6b02297.jpeg);
background-repeat: no-repeat;
background-size: cover;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
padding:20px;
}
.all{
    background-color: burlywood;
    align-content:center;
justify-content: center;
margin-left:auto ;
margin-right: auto;
padding: 30px;
width: 80%;
max-width: 500px;
}

hr{ border-color: darkred;
}
h1{
    font-size: 50px ;
margin-bottom: 10px;
}
h2{
    font-size:30px ;
}
p{
    font-style:italic;
}
 h1, h2,p{
    text-align: center;
 }

 ul{
    display:flex;
    justify-content: space-between;
    margin-right: auto;
    margin-left: auto;
    list-style: none;
 }

 img{ display: block;
margin-left: auto;
margin-right:auto ;
list-style: none;
max-block-size: 50px;
}

a{color:black}





